.settings-nav {
  .settings-nav-item {
    display: flex;
    align-items: center;

    .settings-nav-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 1.5rem;

      i {
        font-size: 1.5rem;
      }
    }

    .settings-nav-label {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .settings-nav-title {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.3rem;
    }

    .settings-nav-desc {
      font-size: 12px;
    }

    &.active {
      background-color: #F3F6F9;
      transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
      //padding: 0.75rem 1.5rem;
      position: relative;
      border-radius: 0.5rem;
      cursor: pointer;
      //background-color: $krys;
      //color: white;

      &:after {
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        content: " ";
        height: 0;
        width: 0;
        border: solid transparent;
        position: absolute;
        border-left-color: #F3F6F9;
        border-width: 1rem;
      }

      .settings-nav-icon {
        i {
          color: $krys;
        }
      }
      //.settings-nav-label {
      //  .settings-nav-title {
      //    //color: white;
      //  }
      //}
    }
  }
}