PORT=3015
REACT_APP_VERSION=v3.0.0
REACT_APP_THEME_NAME=Krystalum

#Local
REACT_APP_BASE_LAYOUT_CONFIG_KEY='krystalum-local-web-app'
REACT_APP_API_URL=http://krystalum.test/api

#Staging
#REACT_APP_BASE_LAYOUT_CONFIG_KEY='krystalum-staging-web-app'
#REACT_APP_API_URL=https://api.staging.krystalum.test/

#Production
#REACT_APP_BASE_LAYOUT_CONFIG_KEY='krystalum-web-app'
#REACT_APP_API_URL=https://api.krystalum.com/

REACT_APP_SASS_PATH=src/_metronic/assets/sass/core/components
REACT_APP_SASS_VARIABLES_PATH=src/_metronic/assets/sass/core/components/_variables.scss